body {
    background-size: 100%;
}
.Texth1 {
    color: white;
    text-align: center;
    font-size: 60px;
}
.margin-text {
    margin-left: 300px;
    color: white;
    margin-top: 50px;
}
.alignh3 {
    text-align: center;
    color: white;
    font-size: 20px;
}
button {
    border-color: black;
    border-bottom: 2px;
    background: rgba(255, 78, 80, 1);
    border-radius: 32px;
    width: 200px;
    height: 50px;
    font-size: 15px;
    position: absolute;
    left: 43%;
}
.hero {
    background-image: url(./image/desk-header\ 1.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

    