body {
    background-size: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.Texth1 {
    color: white;
    text-align: center;
    font-size: 60px;
}
.margin-text {
    margin-left: 300px;
    color: white;
    
}
.alignh3 {
    text-align: center;
    color: white;
    font-size: 20px;
}
.button1 {
    border-color: black;
    border-bottom: 2px;
    background: rgba(255, 78, 80, 1);
    border-radius: 32px;
    width: 200px;
    height: 50px;
    font-size: 15px;
    position: absolute;
    left: 43%;
}
.hero {
    background-image: url(./image/desk-header\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 42px;
}
.img1 {
    position: relative;
    width: 120px;
    height: 120px;
    left: 200px;
    top: 10px;
}
.img2 {
    position: relative;
    width: 120px;
    height: 120px;
    left: 400px;
    top: 10px;
}
.img3 {
    position: relative;
    width: 120px;
    height: 120px;
    left: 600px;
    top: 10px;
}
.img4 {
    position: relative;
    width: 120px;
    height: 120px;
    left: 800px;
    top: 10px;
}
.section2h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    font-size: 35px;
}
.button2 {
    border-color: #FF4E50;
    border-bottom: 10px;
    background: white;
    border-radius: 32px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    position: relative;
    top: 90px;
    left: 150px;
    color: #FF4E50;
}
.hero-box {
    
}
    